GEMINI_API_KEY=""
TARGET_WA_NUMBER=6285260245100
GOOGLE_MAPS_PLATFORM_KEY=""
# SWARM_API_KEYS can be formatted as a JSON array of backup keys, e.g. ["key1", "key2", "key3"] or comma-separated string: key1,key2,key3
SWARM_API_KEYS=[]
SECURITY_PIN=
JWT_SECRET=
